<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>264041939202-dbv3s0o88mi8crr5hnobt6mnlvrffc7h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.264041939202-dbv3s0o88mi8crr5hnobt6mnlvrffc7h</string>
	<key>API_KEY</key>
	<string>AIzaSyCXHcpeWuoQtVvODnqq2pL2w70pHtReGoU</string>
	<key>GCM_SENDER_ID</key>
	<string>264041939202</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.flutter.flutter.app</string>
	<key>PROJECT_ID</key>
	<string>sustainable-product-guide</string>
	<key>STORAGE_BUCKET</key>
	<string>sustainable-product-guide.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:264041939202:ios:86ad074f6435ffca2a821b</string>
</dict>
</plist>